
<div>
    <h2>Write an article</h2>
    <form action="/add-new-article" method="post">
        <div class="form-group">
            <label for="articleTitle">Title</label>
            <input type="text" class="form-control" name="articleTitle"  placeholder="Enter a title">
        </div>
        <div class="form-group">
            <label for="articleBody">Body</label>
            <textarea class="form-control" name="articleBody" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="articleImgLink">Image Link</label>
            <input type="text" class="form-control" name="articleImgLink"  placeholder="Enter the image link">
        </div>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>

</div>