<div class="row">
    
    <div class="col-6 my-5">
        <h2 class="my-5">{{article.title}}</h2>
        <img class="img-fluid" alt="programming languages" src="{{article.image}}" >
    </div>
    <div class="col-12 my-5">
        <p>
            {{article.body}}
        </p>
        
    </div>
    

</div>