<h1>Bienvenue</h1>

{{#each articles}}
    <div class="row my-5">
        <div class="col-md-6">
            <h4> <a href="/article/{{id}}">{{title}}</a> </h4>
            <p>
                {{body}}
            </p>
        </div>
        <div class="col-md-6 pb-5 px-5">
            <img class="img-fluid" alt="programming languages" srcset=""
            src="{{image}}" >
        </div>
    </div>
{{/each}}